@model CMS.Common.Models.ViewModels.Reports.DynamicReportModel

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">
                <h3 class="box-title">@SharedLocalizer["CreateDynamicReport"]</h3>
            </div>
            <div class="box-body">
                <div class="box box-primary">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>@SharedLocalizer["ReportName"]</label>
                                @Html.TextBoxFor(r => r.ReportName, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Description"]</label>
                                @Html.TextBoxFor(r => r.Description, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-6">
                           <div class="form-group">
                                <label>@SharedLocalizer["ReportSql"]</label>
                                @Html.TextAreaFor(r => r.ReportSql, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>@SharedLocalizer["Parameters"]</label>
                                @Html.TextBoxFor(r => r.Parameters, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.HiddenFor(x => x.Idx)
                                <button type="button" type="submit" class="btn btn-block btn-success btn-flat">@SharedLocalizer["Save"]</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
