@model CMS.Common.Models.ViewModels.General.GenericDataTable
<script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<form id="excel-import-form" 
      method="post" role="form" class="ajax-form" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-12">

            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">@SharedLocalizer["UploadedExcel"]</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <table id="dynamicTable" class="display table table-striped table-bordered"
                                   cellspacing="0" width="100%"></table>
                        </div>

                    </div>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="button" id="importDataBtn" class="btn btn-block btn-success btn-flat">@SharedLocalizer["Save"]</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {

        var headers  = @Html.Raw(Model.Colums);

        var columns = new Array();
        $.each(headers, function( index, value ) {
            var column = { title: value };
            columns.push(column);
        });

        console.log(columns);

            $('#dynamicTable').DataTable({
                dom: "Bfrtip",
                data: @Html.Raw(Model.Rows),
                columns: columns,
                scrollX: true,
                scrollY: true
          });
    });

    $('#importDataBtn').click(function () {
        debugger;
        var url = '@Model.ExcelImportModel.PostExcelFileUrl';
        @*var model = @Html.Raw(TempData["ExcelImportModel"]);
        var url = model.PostExcelFileUrl;*@
        var model ='@(Html.Raw(Model.ExcelImportModel.UploadExcelPath))';
        var extraData='@(Html.Raw(Model.ExcelImportModel.ExtraData))'
        $.ajax({
            type: 'post',
            url: url,
            data: { path: model, extraData: extraData},
            success: function (xhr) {
                console.log(xhr);
                Swal.fire(
                    "Bilgi",
                    "Başarılı İşlem Sayısı: " + xhr.SuccessCount,
                    'info'
                )
            }
        })
    });
</script>
