@model CMS.Common.Models.ViewModels.Definition.PriorityModel


<form id="add-logtime-form" asp-controller="Definition" asp-action="EditTicketPriority"
      method="post" role="form" class="ajax-form" data-isModal="true">
    <div class="row">
        <div class="box-body">
            <div class="form-group">
                <label>@SharedLocalizer["Name_TR"]</label>
                @Html.TextBoxFor(x => x.Name_TR, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name_TR)
            </div>
            <div class="form-group">
                <label>@SharedLocalizer["Name_EN"]</label>
                @Html.TextBoxFor(x => x.Name_EN, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Name_EN)
            </div>
            <div class="form-group">
                <label>@SharedLocalizer["Description_TR"]</label>
                @Html.TextAreaFor(x => x.Description_TR, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description_TR)
            </div>
            <div class="form-group">
                <label>@SharedLocalizer["Description_EN"]</label>
                @Html.TextAreaFor(x => x.Description_EN, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.Description_EN)
            </div>
            <div class="form-group">
                @Html.HiddenFor(x => x.Idx)
                @Html.HiddenFor(x => x.InsertDate)
                @Html.HiddenFor(x => x.InsertUserIdx)
                <button type="submit" class="btn btn-block btn-success">@SharedLocalizer["Save"]</button>
            </div>
        </div>
    </div>
</form>